<!doctype html>
<title>AD Change Password</title>

<h1>Change password</h1>

<form action="{{ url_for('chpasswd_change') }}" method="post">
  <fieldset>
  <table>
    <tr>
      <td>Username:</td>
      <td><input type="text" size=30 name="user"></td>
    </tr>
    <tr>
      <td>Current Password</td>
      <td><input size=30 name="old_pass" type="password"></td>
    </tr>
    
    <tr>
      <td>New Password</td>
      <td><input size=30 name="new_pass1" type="password"></td>
    </tr>
    
    <tr>
      <td>New Password (repeat)</td>
      <td><input size=30 name="new_pass2" type="password"></td>
    </tr>

  </table>
    <input type="submit" value="Change Password">
    
  </fieldset>
</form>

</div>
